/*CSS 초기화*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*공통 헤더, 풋터*/

/* body{ */
	/* overflow: hidden; */
/* } */

.header{
	background-color: #eae1d8;
	height: 100px;
}

.header::before{
	content: "";
	position: absolute;
	top: 40px;left: 0;
	background: rgba(0, 0, 0, 0.1);
	width: 100%;height: 1px;

}

.header > div{
	width: 1350px;
	height: 100px;
	margin: 0 auto;
	/* outline: 1px solid black; */
}

.icon_list{
	width: 1350px;
	height: 40px;
	margin: 0 auto;
	/* outline: 1px solid blue; */
	display: block;
	
}

.icon_list .icon01{
	background: url(../images/궁디저트메인참조이미지/icon3.PNG) no-repeat;
	width: 160px;height: 30px;
	float: left;
	position: relative;
}

.icon_list .icon01 a{
	display: inline-block;
	
	width: 70px;height: 30px;
	
}

.icon_list .icon02{
	float: right;
	width: 160px;height: 30px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
    justify-content: center;
}

.icon_login {
	display: block;
    padding: 5px;
    border: 1px solid #000;
	width: 40px;
	text-align: center;
	font-size: 12px;
}
.icon_menu{
background: url(../images/common/궁디저트메인참조이미지/icon4.PNG);
display: block;
width: 40px;
height: 30px;
}
header_bottom{
	display: inline-block;
	width: 1350px;
	height: 57px;
	margin: 0 auto;
	/* outline: 1px solid blue; */
	display: inline-block;
	
}
#header_bottom_icon{
	border-radius: 50%;
    vertical-align: middle;
	display: inline-block;
	margin-top: 10px;
    margin-left: 11px;
}

.header_bottom>bottom_1{
display: inline-block;
    vertical-align: middle;

}


._1YQE-vHcn3{
	color: rgba(0,0,0,.6);
    display: inline-block;
  
    font-size: 14px;
    /* color: #fff; */
    vertical-align: middle;
  
	
}
#header_bottom_search{
    float: right;
    padding: 5px;
    margin-top: 15px;
    margin-right: 20px;
}

.header2{
	height: 112px;
    width: 1350px;
    display: flex;
    border: 0px
    margin: 0 auto;
    margin-top: 8px;
    align-items: center;
}
#button1{
	background-color: #eae1d8;
    border: 0;
    margin: 0;
    padding: 11px;
    display: inline-block;
    width: 115px;
}
.header2_title{
	font-size: 36px;
    line-height: 40px;
    color: #000;
    text-align: center;
    display: inline-block;
    margin: auto;
	position: relative;
    left: 110px;
}

#today_custumer{
    display: inline-block;
    padding: 0 15px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 24px;
    color: rgba(0,0,0,.45);
    background-color: #f7f7f7;
    /* vertical-align: top; */
    position: relative;
    top: 3px;
    right: 3px;
}
.header2::before{
	content: "";
    position: absolute;
    top: 210px;
    left: 0px;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
}
.header3{
	width: 1320px;
	height: 60px;
	display: inline-block;
	/* border: 1px solid black; */
}
header3 >ul , li a{
	list-style: none;
	float: left;
	margin: 20px;
	text-decoration: none;
    
}
